<command-bar>
  <command displayText="{{ 'disconnect' | translate }}" iconUrl="image/error.svg" (click)="disconnect()"></command>
</command-bar>
<div id="main-container" class="right-tabs-expanded">
  <section id="editor-section">
    <h2 tabindex="0" class="filename-title">
      {{fileName}}
    </h2>
    <div id="text-editor-container">
      <div monacoEditor id="code"
        [content]="content" [fileName]="fileName" [disabled]="true">
      </div>
    </div>
  </section>
  <div id="right-tabs-bar">
    <div #rightContainer id="sidebar" class="right-container">
      <div class="dev-border files-container">
        <app-zip-file-explorer class='leftbox'></app-zip-file-explorer>
      </div>
    </div>
  </div>
</div>  